[Unit]
Description=Good afternoon! Don't forget to check your messages before wrapping up.

[Timer]
OnCalendar=Mon..Fri *-*-* 16:00:00
Persistent=true

[Install]
WantedBy=timers.target
